
<h1>Here are some of the favorite stays</h1>
<div class="content" style="margin: 10px">
  <div class="cards">
    <% @apartments.each do |apartment| %>
      <%= link_to apartment_path(apartment), class: "card-apartment" do %>
        <div>
          <div class="position-relative">
            <%= cl_image_tag apartment.photos[0].key, height: 300, width: "100%", class: "mb-2" %>
            <p class="position-absolute tag-location"><%= apartment.address %></p>
            <p class="position-absolute tag-rating"><%= apartment.rating %>⭐️</p>
          </div>
          <p class="card-apartment-description">Title: <%= apartment.title %> </p>
          <p class="card-apartment-description">Owner: <%= apartment.user.first_name %> <%= apartment.user.last_name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <img id="map" src='https://assets.website-files.com/5e832e12eb7ca02ee9064d42/5f915422ccb28e626ad16e20_Group%20939.jpg'>
</div>
