<div class="d-flex min-container">
  <div class="container-form-create">
      <h2 style="font-size: 25px">Create your listing below</h2>
      <%= simple_form_for(@apartment) do |f| %>
        <%= f.input :title %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, class: "btn-submit" %>
      <% end %>
  </div>
</div>
