  <div class="container">

  <div class="card-trip">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @apartment.photos.each do |photo| %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key, class: "d-block w-100" %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <%= link_to "Add more photos", apartments_path, class:"btn btn-primary", style: "border-radius: 15px; margin-left: 180px" %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <%= link_to "Add more photos", apartments_path, class:"btn btn-primary", style: "border-radius: 15px; margin: 10px;" %>
  </div>

    <div class="card-trip-infos">
      <div>
        <h2><%= @apartment.address %> <%= @apartment.rating %> ⭐️</h2>
        <p><%= @apartment.description %></p>
        <%= link_to "Go back", apartments_path, class:"btn btn-flat", style: "border-radius: 15px" %>
      </div>
      <h2 class="card-trip-pricing"><%=@apartment.price%>£</h2>
      <% unless @owner.photo.key == nil %>
        <%= cl_image_tag @owner.photo.key, class: "card-trip-user avatar-bordered" %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669300484/avatar%20default/pngtree-default-male-avatar-png-image_2811083_wsjfca.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    </div>
  </div>



<div class="container">
<div class="row">
    <div class="col-12 col-lg-8">
        <div class="map-box" style="width: 100%; height: 300px; position: sticky; top: 0; margin-top:20px; margin-bottom:40px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
    <div class="col-12 col-lg-4">
      <div class="container-form" data-controller="bookings">
        <h2 style="border-bottom:1px solid black;">checkout</h2>
        <%= render "shared/booking_form", apartment: @apartment, booking: @booking %>
        <p style="border-bottom:1px solid black;">price per night is: <span id="price" data-bookings-target="pricePerNight">50£<span></p>
        <p>you are staying for <span data-bookings-target="nights"></span> nights</p>
        <p><strong>total is:</strong> <span data-bookings-target="totalPrice"></span>£</p>
      </div>
    </div>
  </div>
</div>
