<div class="container">
  <div class="card-trip">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @apartment.photos.each do |photo| %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key, class: "d-block w-100" %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
    <div class="card-trip-infos">
      <div>
        <h2><%= @apartment.address %>&nbsp;&nbsp;&nbsp;Rating:&nbsp; <%= @apartment.rating %> ⭐️</h2>
        <p><%= @apartment.description %></p>
        <%= link_to "Go back", apartments_path, class:"btn btn-flat", style: "border-radius: 15px" %>
      </div>
      <h2 class="card-trip-pricing"><%=@apartment.price%>£</h2>
      <% unless @owner.photo.key == nil %>
        <%= cl_image_tag @owner.photo.key, class: "card-trip-user avatar-bordered" %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dk2w7ocuc/image/upload/v1673099562/airbnb-clone-icons/user-regular_xy2vrb.svg", class: "avatar dropdown-toggle", style: "margin-left:5px;", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 col-lg-7">
        <div class="map-box" style="width: 100%; height: 300px; position: sticky; top: 0; margin-top:20px; margin-bottom:40px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>

    <div class="col-6 col-lg-5">
      <div class="container-form", style="color: white" data-controller="bookings">
        <p class="p-style" style="border-bottom:1px solid black;">Checkout</p>
        <%= render "shared/booking_form", apartment: @apartment, booking: @booking, style: "border-bottom:1px solid black" %>
        <p style="border-bottom:1px solid black;">Price per night is: £ <span id="price" data-bookings-target="pricePerNight"><%= @apartment.price %>0<span></p>
        <p>Duration of stay: <span data-bookings-target="nights"></span> nights</p>
        <p><strong>Total: </strong>£<span data-bookings-target="totalPrice"></span></p>
      </div>
    </div>
  </div>
</div>
